$color-primary: rgb(152, 188, 152);
$color-overlay: rgb(152, 188, 152, .6);
$color-light: rgb(240, 238, 238);
$font-color-dark: #404a3f;
$ff-header: 'Comfortaa', cursive;
$ff-text: Helvetica, sans-serif;

@mixin grid() {
    display: grid;
    justify-content: center;
}

@mixin flex-row {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.link {
    text-decoration: none;
    color: inherit;
}

body,
html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: $font-color-dark;
    background-color: $color-light;
    font-family: $ff-text;
}

img {
    display: block;
    width: 100%;
}

header {
    padding: 3.5rem 2rem .75rem 2rem;
    margin-bottom: 3rem;
    background-color: $color-primary;
    color: $color-light;
    font-family: 'Comfortaa', cursive;
    text-transform: uppercase;
    @include grid();
    align-items: end;
    grid-template-columns: 50% 50%;
    grid-template-rows: 55% 45%;
    grid-template-areas:
        "title title"
        "contact insta";

    @media (min-width: 820px) {
        padding: 2.5rem 2rem .75rem 2rem;
        margin-bottom: 3rem;
        grid-template-columns: minmax(100px, 200px) minmax(400px, 70%) minmax(100px, 200px);
        grid-template-rows: 100%;
        gap: .5rem;
        align-items: end;
        grid-template-areas: "contact title insta";
    }

    .title {
        grid-area: title;
    }

    h1 {
        font-size: 8rem;
        font-weight: 300;
        margin: 0;
        text-align: center;
        line-height: .7;

    }

    .subtitle {
        margin: 0;
        font-size: 1.75rem;
        font-weight: 400;
        text-align: center;
    }

    .container-contact {
        grid-area: contact;
        font-family: $ff-text;
        font-weight: 300;
        font-size: 1.1rem;
        @include grid();
        margin: 0 auto;
        min-height: 4rem;
        grid-template-columns: minmax(2.75rem, 25%) 75%;
        grid-template-rows: 40% 30% 30%;
        grid-template-areas:
            "location location"
            "icon phone1"
            "icon phone2";

        .location {
            grid-area: location;
        }

        .icon-WA {
            grid-area: icon;
            width: 2.25rem;
            align-self: center;
        }

        .phone1 {
            grid-area: phone1;
        }

        .phone2 {
            grid-area: phone2;
        }
    }

    .container-insta {
        text-align: center;
        grid-area: insta;

        .icon-insta {
            width: 3.25rem;

        }

        .icon-insta:hover .insta-background {
            fill: $color-primary;
        }

        .icon-insta:hover .insta-foreground {
            fill: $color-light;
        }

        .icon-insta:hover {
            border-radius: 100%;
        }
    }

    .icon {

        .WA-foreground,
        .insta-foreground {
            fill: $color-primary;
        }

        .WA-background,
        .insta-background {
            fill: $color-light;
        }
    }
}

.products-grid {
    @include grid();
    margin: 0 auto;
    max-width: 1200px;
    width: 90%;
    grid-template-columns: repeat(auto-fit, minmax(250px, 350px));
    gap: 1.75rem;
    text-transform: uppercase;

    .card-wrapper {
        border-radius: .25em;
        width: 100%;
        background-color: $color-overlay;
        overflow: hidden;
        position: relative;

        .info-container {
            width: 95%;
            transition: 0.5s ease;
            opacity: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);

            h3,
            p {
                text-align: center;
                font-weight: 300;
                font-size: 1.35rem;
                margin: 0;
            }
        }

        img {
            width: 100%;
            object-fit: cover;
            opacity: 1;
            backface-visibility: hidden;
            transition: transform 750ms cubic-bezier(0.5, 0, 0.5, 1),
                opacity 250ms linear;
        }
    }

    .card-wrapper:hover {
        img {
            opacity: 0.15;
            transform: scale(1.2);
        }

        .info-container {
            opacity: 1;
        }
    }
}

.product-container {
    @include flex-column;
    max-width: 1050px;
    width: 88%;


    @media (min-width: 800px) {
        @include flex-row;
    }

    .gallery {
        width: 100%;
        min-width: 350px;
        position: relative;
        align-self: center;

        @media (min-width: 800px) {
            width: 65%
        }

        img {
            width: 100%;
            border-radius: 4px;
        }

        .btn {
            font-family: $ff-header;
            text-align: center;
            color: $font-color-dark;
            background-color: $color-light;
            position: absolute;
            top: 86%;
            border: none;
            border-radius: 1.9rem;
            border: solid $font-color-dark 2px;
            padding: .4rem .6rem;
            font-weight: 700;
            font-size: 1.5em;
            opacity: .30;

            @media (min-width: 800px) {
                padding: .8rem 1rem;
                top: 88%;
            }
        }



        .btn-prev {
            left: .3rem;
        }

        .btn-next {
            right: .3rem;
        }

        .btn:hover {
            opacity: .8;
            cursor: pointer;
            background-color: $font-color-dark;
            color: $color-light;
        }
    }

    .product-details {
        font-family: $ff-header;
        width: 85%;
        padding: 0 0rem 0 1rem;
        align-self: center;

        @media (min-width: 800px) {
            width: 35%
        }

        h2 {
            text-transform: capitalize;
            font-size: 1.8rem;
        }

        p {
            font-size: 1.15rem;
            font-weight: 300;
        }

        .contact-p {
            margin-top: 2rem;
            font-size: 1rem;
        }
    }
}

footer {
    margin-top: 5rem;
    color: $color-light;
    background-color: $color-primary;
    text-align: left;
    padding-bottom: 1rem;

    p {
        margin: .3rem 0 0rem 0;
    }

    .hours-subtitle {
        margin: .3rem 0 .6rem 0;
    }

    .footer-flex-container {
        margin: 0 auto;
        padding: 2em 0 1em 0;
        @include flex-row();
        width: 90%;
        max-width: 800px;
        gap: 1em;
        align-items: flex-start;
        justify-content: space-around;

        h2 {
            font-family: $ff-header;
            text-transform: uppercase;
            font-size: 4rem;
            font-weight: 300;
            margin: 0;
            line-height: .7;
            left: -20px;
        }

        .subtitle {
            text-align: center;
            font-family: $ff-header;
            text-transform: uppercase;
            margin: 0;
            font-size: .86rem;
            font-weight: 400;
        }

        .footer-para {
            font-weight: 300;
            font-size: .9rem;
        }

        .footer-uppercase {
            text-transform: uppercase;
            font-size: .75rem;
            opacity: .75;
            margin: 0;
            font-weight: 500;
        }
    }

    .footer-contact-info {
        margin: 0;
        font-size: .75rem;
    }

    .footer-flex-container2 {
        @include flex-row();
        gap: 2rem;
    }

    .footer-flex-item {
        width: 48%;
    }

    .hours-title {
        text-transform: uppercase;
        font-weight: 400;
    }

    .hours-subtitle {
        font-size: .9rem;
        font-weight: 300;
    }

    .hours-flex-container {
        display: flex;
        flex-direction: row;
        width: 120px;
        justify-self: left;
        justify-content: space-between;
        font-size: .95rem;

        p {
            margin: 0;
        }

        .bold {
            font-weight: 400;
        }
    }

    h5,
    .credits {
        margin: 0;
        font-weight: 300;
    }

    .credits {
        text-align: center;
        margin-top: .15rem;
        font-size: .9rem;
    }

    a {
        color: $color-light;
        text-decoration: underline $color-light;
    }

    a:hover {
        color: $font-color-dark;
        text-decoration: none;
    }
}