$color-primary: rgb(152, 188, 152);
$color-overlay: rgb(152, 188, 152, .6);
$color-light: rgb(240, 238, 238);
$font-color-dark: #404a3f;
$ff-header: 'Comfortaa', cursive; 
$ff-text: Helvetica, sans-serif;

@mixin grid(){
    margin: 0 auto;
    display: grid;
    justify-content: center;
}

@mixin flex-row {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.link {
    text-decoration: none;
    color: inherit;
}

body,
html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: $font-color-dark;
    background-color: $color-light;
    font-family: $ff-text;
}

img {
    display: block;
    width: 100%;
}

header {
    background-color: $color-primary;
    margin: 0;
    padding: 2.5rem 2rem .75rem 2rem;
    color: $color-light;
    font-family: 'Comfortaa', cursive; 
    text-transform: uppercase;
    @include grid();
    justify-content:center;
    grid-template-columns: minmax(100px, 200px) minmax(400px, 70%) minmax(100px, 200px);
    gap: .5rem;
    align-items: end;
    margin-bottom: 3rem;
    h1 {
        font-size: 8rem;
        font-weight: 300;
        margin: 0;
        text-align: center;
        line-height: .7;
        
    }
    .subtitle {
        margin: 0;
        font-size: 1.75rem;
        font-weight: 400;
        text-align: center;
    }
    .container-contact {
        font-family: $ff-text;
        font-weight: 300;
        font-size: 1.1rem;
        @include grid();
        min-height:4rem;
        grid-template-columns: minmax(2.75rem, 25%) 75%;
        grid-template-rows:40% 30% 30%;
        grid-template-areas: 
           "location location"
           "icon phone1"
           "icon phone2";
        .location {
            grid-area: location;
        }
        .icon-WA {
            grid-area: icon;
            width: 2.25rem;
            align-self: center;
        }
        .phone1 {
            grid-area: phone1;
        }
        .phone2 {
            grid-area: phone2;
        }
    }
    .container-insta {
        text-align: right;
        .icon-insta {
            width: 3.25rem;
        }
    }
    .icon {
        .header__icon-foreground {
            fill: $color-primary;
        }
        .header__icon-background {
            fill: $color-light;
        }
    }
}

.products-grid {
    @include grid();
    max-width: 1200px;
    width: 90%;
    grid-template-columns: repeat(auto-fit, minmax(250px, 350px));
    gap: 1.75rem;
    text-transform: uppercase;
    .card-wrapper {
        border-radius: .25em;
        width: 100%;
        background-color: $color-overlay;
        overflow: hidden;
        position: relative;
        .info-container {
            width: 95%;
            transition: 0.5s ease;
            opacity: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            h3, p {
                text-align: center;
                font-weight: 300;
                font-size: 1.35rem;
                margin: 0;
            }
        }
        img {
            width: 100%;
            object-fit: cover;
            opacity: 1;
            backface-visibility: hidden;
            transition: transform 
                750ms cubic-bezier(0.5, 0, 0.5, 1), 
                opacity 250ms linear;
        }
    }
    .card-wrapper:hover {
        img {
            opacity: 0.15;
            transform: scale(1.2);
        }
        .info-container {
            opacity: 1;
        }
    }
}

.product-container {
    @include flex-row;
    max-width: 1050px;
    width: 85%;
    .gallery {
        width: 65%;
        position: relative;
        img {
            width: 100%;
            border-radius: 4px;
        }
        .btn {
            font-family: $ff-header;
            text-align: center;
            color: $font-color-dark;
            background-color: $color-light;
            position: absolute;
            top: 87%;
            border: none;
            border-radius: 1.9rem;
            border: solid $font-color-dark 2px;
            padding: .8rem 1rem;
            font-weight: 700;
            font-size: 1.5em;
            opacity: .30;
        
        }
        .btn-prev {
            left: .3rem;
        }
        .btn-next {
            right: .3rem;
        }
        .btn:hover {
            opacity: .8;
            cursor: pointer;
            background-color: $font-color-dark;
            color: $color-light;
        }
    }
    .product-details {
        font-family: $ff-header;
        width: 35%;
        padding: 0 .5rem 0 2rem;
        align-self: center;
        h2 {
            text-transform: capitalize;
            font-size: 1.8rem;
        }
        p {
            font-size: 1.15rem;
            font-weight: 300;
        }
        .contact-p {
            margin-top: 2rem;
            font-size: 1rem;
        }
    }
}

footer {
    margin-top: 5rem;
    color: $color-light;
    background-color: $color-primary;
    text-align: left;
    padding-bottom: 1rem;
    p {
        margin: .3rem 0 0rem 0;
    }
    .hours-subtitle {
        margin: .3rem 0 .6rem 0;
    }
    .footer-flex-container {
        margin: 0 auto;
        padding: 2em 0 1em 0;
        @include flex-row();   
        width: 90%;
        max-width: 800px;
        gap: 1em;
        align-items: flex-start;
        justify-content: space-around;
        h2 {
            font-family: $ff-header;
            text-transform: uppercase;
            font-size: 4rem;
            font-weight: 300;
            margin: 0;
            line-height: .7;
        }
        .subtitle {
            text-align: center;
            font-family: $ff-header;
            text-transform: uppercase;
            margin: 0;
            font-size: .86rem;
            font-weight: 400;
        }
        .footer-para {
            font-weight: 300;
            font-size: .9rem;
        }
        .footer-uppercase {
            text-transform: uppercase;
            font-size: .75rem;
            opacity: .75;
            margin: 0;
            font-weight: 500;
        }
        }
        .footer-contact-info {
            margin: 0;
            font-size: .75rem;
        }
        .footer-flex-container2 {
            @include flex-row();
            gap: 2rem;
        }
    .footer-flex-item {
        width: 48%;
    }
    .hours-title {
        text-transform: uppercase;
        font-weight: 400;
    }
    .hours-subtitle {
        font-size: .9rem;
        font-weight: 300;
    }
    .hours-flex-container {
        display: flex;
        flex-direction: row;
        width: 120px;
        justify-self: left;
        justify-content: space-between;
        font-size: .95rem;
        p {
            margin: 0;
        }
        .bold {
            font-weight: 400;
        }
    }
    h5, .credits {
        margin: 0;
        font-weight: 300;
    }
    .credits {
        text-align: center;
        margin-top: .15rem;
        font-size: .9rem;
    }
    a {
        color: $color-light;
        text-decoration: underline $color-light;
    }
    a:hover {
        color: $font-color-dark;
        text-decoration: none;
    }
}