$color-primary: rgb(152, 188, 152);
$color-overlay: rgb(152, 188, 152, .6);
$color-light: rgb(240, 238, 238);
$font-color-dark: #404a3f;
$ff-header: 'Comfortaa', cursive; 
$ff-text: Helvetica, sans-serif;

@mixin grid(){
    margin: 0 auto;
    display: grid;
    justify-content: center;
}

@mixin flex {
    display: flex;
}

body,
html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: $font-color-dark;
    background-color: $color-light;
    font-family: $ff-text;
}

header {
    background-color: $color-primary;
    margin: 0;
    padding: 2.5rem 2rem .75rem 2rem;
    color: $color-light;
    font-family: 'Comfortaa', cursive; 
    text-transform: uppercase;
    @include grid();
    justify-content:center;
    grid-template-columns: minmax(100px, 200px) minmax(400px, 70%) minmax(100px, 200px);
    gap: .5rem;
    align-items: end;
    margin-bottom: 3rem;
    h1 {
        font-size: 8rem;
        font-weight: 300;
        margin: 0;
        text-align: center;
        line-height: .7;
        
    }
    .subtitle {
        margin: 0;
        font-size: 1.75rem;
        font-weight: 400;
        text-align: center;
    }
    .container-contact {
        font-family: $ff-text;
        font-weight: 300;
        font-size: 1.1rem;
        @include grid();
        min-height:4rem;
        grid-template-columns: minmax(2.75rem, 25%) 75%;
        grid-template-rows:40% 30% 30%;
        grid-template-areas: 
           "location location"
           "icon phone1"
           "icon phone2";
        .location {
            grid-area: location;
        }
        .icon-WA {
            grid-area: icon;
            width: 2.25rem;
            align-self: center;
        }
        .phone1 {
            grid-area: phone1;
        }
        .phone2 {
            grid-area: phone2;
        }
    }
    .container-insta {
        text-align: right;
        .icon-insta {
            width: 3.25rem;
        }
    }
    .icon {
        .header__icon-foreground {
            fill: $color-primary;
        }
        .header__icon-background {
            fill: $color-light;
        }
    }
}

.products-grid {
    @include grid();
    max-width: 1200px;
    width: 90%;
    grid-template-columns: repeat(auto-fit, minmax(250px, 350px));
    gap: 1.75rem;
    text-transform: uppercase;
    .card-wrapper {
        border-radius: .25em;
        width: 100%;
        background-color: $color-overlay;
        overflow: hidden;
        position: relative;
        .info-container {
            width: 95%;
            transition: 0.5s ease;
            opacity: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            h3, p {
                text-align: center;
                font-weight: 300;
                font-size: 1.35rem;
                margin: 0;
            }
        }
        img {
            width: 100%;
            display: block;
            object-fit: cover;
            opacity: 1;
            backface-visibility: hidden;
            transition: transform 
                750ms cubic-bezier(0.5, 0, 0.5, 1), 
                opacity 250ms linear;
        }
    }
    .card-wrapper:hover {
        img {
            opacity: 0.15;
            transform: scale(1.2);
        }
        .info-container {
            opacity: 1;
        }
    }
}

footer {
    margin-top: 5rem;
    text-align: center;
    color: $color-light;
    height: 5em;
    background-color: $color-primary;
}