.link {
  text-decoration: none;
  color: inherit;
}

body,
html {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #404a3f;
  background-color: rgb(240, 238, 238);
  font-family: Helvetica, sans-serif;
}

img {
  display: block;
  width: 100%;
}

header {
  background-color: rgb(152, 188, 152);
  margin: 0;
  padding: 2.5rem 2rem 0.75rem 2rem;
  color: rgb(240, 238, 238);
  font-family: "Comfortaa", cursive;
  text-transform: uppercase;
  margin: 0 auto;
  display: grid;
  justify-content: center;
  justify-content: center;
  grid-template-columns: minmax(100px, 200px) minmax(400px, 70%) minmax(100px, 200px);
  gap: 0.5rem;
  align-items: end;
  margin-bottom: 3rem;
}
header h1 {
  font-size: 8rem;
  font-weight: 300;
  margin: 0;
  text-align: center;
  line-height: 0.7;
}
header .subtitle {
  margin: 0;
  font-size: 1.75rem;
  font-weight: 400;
  text-align: center;
}
header .container-contact {
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 1.1rem;
  margin: 0 auto;
  display: grid;
  justify-content: center;
  min-height: 4rem;
  grid-template-columns: minmax(2.75rem, 25%) 75%;
  grid-template-rows: 40% 30% 30%;
  grid-template-areas: "location location" "icon phone1" "icon phone2";
}
header .container-contact .location {
  grid-area: location;
}
header .container-contact .icon-WA {
  grid-area: icon;
  width: 2.25rem;
  align-self: center;
}
header .container-contact .phone1 {
  grid-area: phone1;
}
header .container-contact .phone2 {
  grid-area: phone2;
}
header .container-insta {
  text-align: right;
}
header .container-insta .icon-insta {
  width: 3.25rem;
}
header .icon .header__icon-foreground {
  fill: rgb(152, 188, 152);
}
header .icon .header__icon-background {
  fill: rgb(240, 238, 238);
}

.products-grid {
  margin: 0 auto;
  display: grid;
  justify-content: center;
  max-width: 1200px;
  width: 90%;
  grid-template-columns: repeat(auto-fit, minmax(250px, 350px));
  gap: 1.75rem;
  text-transform: uppercase;
}
.products-grid .card-wrapper {
  border-radius: 0.25em;
  width: 100%;
  background-color: rgba(152, 188, 152, 0.6);
  overflow: hidden;
  position: relative;
}
.products-grid .card-wrapper .info-container {
  width: 95%;
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.products-grid .card-wrapper .info-container h3, .products-grid .card-wrapper .info-container p {
  text-align: center;
  font-weight: 300;
  font-size: 1.35rem;
  margin: 0;
}
.products-grid .card-wrapper img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 1;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transition: transform 750ms cubic-bezier(0.5, 0, 0.5, 1), opacity 250ms linear;
}
.products-grid .card-wrapper:hover img {
  opacity: 0.15;
  transform: scale(1.2);
}
.products-grid .card-wrapper:hover .info-container {
  opacity: 1;
}

.product-container {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  max-width: 1050px;
  width: 85%;
  border: solid red;
}
.product-container .gallery {
  width: 65%;
}
.product-container .product-details {
  font-family: "Comfortaa", cursive;
  width: 35%;
  padding: 0 0.5rem 0 2rem;
  align-self: center;
}
.product-container .product-details h2 {
  text-transform: capitalize;
  font-size: 1.8rem;
}
.product-container .product-details p {
  font-size: 1.15rem;
  font-weight: 300;
}
.product-container .product-details .contact-p {
  margin-top: 2rem;
  font-size: 1rem;
}

footer {
  margin-top: 5rem;
  color: rgb(240, 238, 238);
  background-color: rgb(152, 188, 152);
  text-align: left;
  padding-bottom: 1rem;
}
footer p {
  margin: 0.3rem 0 0rem 0;
}
footer .hours-subtitle {
  margin: 0.3rem 0 0.6rem 0;
}
footer .footer-flex-container {
  margin: 0 auto;
  padding: 2em 0 1em 0;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  width: 90%;
  max-width: 800px;
  gap: 1em;
  align-items: flex-start;
  justify-content: space-around;
}
footer .footer-flex-container h2 {
  font-family: "Comfortaa", cursive;
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: 300;
  margin: 0;
  line-height: 0.7;
}
footer .footer-flex-container .subtitle {
  text-align: center;
  font-family: "Comfortaa", cursive;
  text-transform: uppercase;
  margin: 0;
  font-size: 0.86rem;
  font-weight: 400;
}
footer .footer-flex-container .footer-para {
  font-weight: 300;
  font-size: 0.9rem;
}
footer .footer-flex-container .footer-uppercase {
  text-transform: uppercase;
  font-size: 0.75rem;
  opacity: 0.75;
  margin: 0;
  font-weight: 500;
}
footer .footer-contact-info {
  margin: 0;
  font-size: 0.75rem;
}
footer .footer-flex-container2 {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  gap: 2rem;
}
footer .footer-flex-item {
  width: 48%;
}
footer .hours-title {
  text-transform: uppercase;
}
footer .hours-subtitle {
  font-size: 0.9rem;
  font-weight: 300;
}
footer .hours-flex-container {
  display: flex;
  flex-direction: row;
  width: 120px;
  justify-self: left;
  justify-content: space-between;
  font-size: 0.95rem;
}
footer .hours-flex-container p {
  margin: 0;
}
footer .hours-flex-container .bold {
  font-weight: 400;
}
footer h5, footer .credits {
  margin: 0;
  font-weight: 300;
}
footer .credits {
  text-align: center;
  margin-top: 0.15rem;
  font-size: 0.9rem;
}
footer a {
  color: rgb(240, 238, 238);
  -webkit-text-decoration: underline rgb(240, 238, 238);
          text-decoration: underline rgb(240, 238, 238);
}
footer a:hover {
  color: #404a3f;
  text-decoration: none;
}/*# sourceMappingURL=App.css.map */